<div id="welcome" class="jumbotron text-center">
	<h1>Welcome to Comet.node!</h1>

	<div ng-if="!main.loggedIn">
		<p>Login to manage your tickets.</p>
		<a href="/signin" class="btn btn-primary">Login</a>
	</div>

	<div ng-if="main.loggedIn">
		<p>Manage your tickets.</p>
		<a href="/tickets/create" class="btn btn-primary">New Ticket</a>
		<span>&nbsp</span>
		<a href="/tickets" class="btn btn-primary">View Tickets</a>
	</div>
	<br />
	<div ng-if="main.loggedIn">
		<p>Post feedback for the site!</p>
		<a href="/feedback" class="btn btn-primary">View Feedback</a>
	</div>
</div>

<style>
	@media screen {
		main {
			background: none;
		}
	}
	/* Extra Small Devices, Phones */ 
	@media only screen and (min-width : 480px) {
		body {
			background: none;
			background-color: #333;
			background-image: url('/dist/img/comet-earth-blur.jpg');
			background-repeat: no-repeat;
			background-position: 75% 25%;
			width: 100%;
			height: 100%;			
		}
		
		.jumbotron {
			background-color: rgba(250,250,250,0.7);
		}
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
		
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
		body {
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: top left;

		}
	}
</style>