<div class="show-hide-message fixed" ng-show="user.message">
	<div class="row alert alert-info alert-dismissable">
		<div class='col-xs-11'>{{ user.message }}</div>
		<button type="button" class="close" ng-click="user.message = ''" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div class="page-header">
	<h1 class="row">
		<span class="font-gradient">Users</span>
	</h1>
	<div class="row">
		<a href="/users/create" class="btn btn-default col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3" ng-if="main.user.role === 'admin' || main.user.role === 'mod'">
			<span class="glyphicon glyphicon-plus"></span> 
			New User
		</a>
	</div>

</div>

<div class="jumbotron text-center" ng-show="user.processing && !user.users">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Users...</p>
</div>

<div class="jumbotron text-center" ng-show="!user.processing && ( user.users.length < 1 || !user.users )">
	<p>There are no users available at this time or a connection to the server could not be made.</p>
</div>

<table ng-cloak id="users" class="table table-bordered table-striped" ng-show="user.users">
	<thead>
		<tr>
			<th class="col-xs-1" ng-if="main.user.role === 'admin' || main.user.role === 'mod'"></th>
			<th ng-if="main.user.role === 'admin' || main.user.role === 'mod'">Username</th>
			<th>Name</th>
			<th>Email</th>
			<th ng-if="main.user.role === 'admin' || main.user.role === 'mod'">Role</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in user.users" ng-class="[ main.user.username == person.username ? 'bold' : '' ]">
			<td class="col-xs-1" ng-if="main.user.role === 'admin' || main.user.role === 'mod'">
				<div class="dropdown"><!--ng-if="person.username !== main.user.username"-->
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">
						<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Manage
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#" ng-href="/users/{{ person.id }}">
								<i class="glyphicon glyphicon-pencil"></i> Edit
							</a>
						</li>
						<li ng-if="main.user.role === 'admin' && main.user.username != person.username">
							<a href="#" ng-click="user.deleteUser(person.id)">
								<i class="glyphicon glyphicon-trash"></i> Delete
							</a>
						</li>
					</ul>
				</div>
			</td>
			<td ng-if="main.user.role === 'admin' || main.user.role === 'mod'">{{ person.username }}</td>
			<td>{{ person.firstName + ' ' + person.lastName }}</td>
			<td>{{ person.email }}</td>
			<td ng-if="main.user.role === 'admin' || main.user.role === 'mod'">{{ person.role }}</td>
		</tr>
	</tbody>
</table>
