
<div class="show-hide-message fixed" ng-show="user.message">
	<div class="row alert alert-info alert-dismissable">
		<div class='col-xs-11'>{{ user.message }}</div>
		<button type="button" class="close" ng-click="user.message = ''" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<div class="page-header">
	<h1 class="font-gradient">User Profile</h1>
</div>

<div class='container'>
	<form class="form-horizontal" ng-submit="user.saveUser()" name='userform' novalidate>
		
		<div class="form-group has-feedback" ng-class="[ userform.firstName.$invalid && userform.firstName.$dirty ? 'has-error' : '', userform.firstName.$valid && userform.firstName.$dirty ? 'has-success' : '' ]">
			<label class="col-sm-2 control-label">First Name</label>
			<div class="col-sm-6">
				<input type="text" name='firstName' class="form-control" ng-model="user.userData.firstName" required pattern='^[A-Z][A-Za-z]+'>
				<p ng-show="userform.firstName.$invalid && userform.firstName.$dirty" class="help-block alert alert-info">Enter a valid name using only letters and proper capitalization.</p>
				<span ng-show="userform.firstName.$invalid && userform.firstName.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span ng-show="userform.firstName.$valid && userform.firstName.$dirty" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		
		<div class="form-group has-feedback" ng-class="[ userform.lastName.$invalid && userform.lastName.$dirty ? 'has-error' : '', userform.lastName.$valid && userform.lastName.$dirty ? 'has-success' : '' ]">
			<label class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-6">
				<input type="text" name='lastName' class="form-control" ng-class="[ userform.lastName.$invalid && userform.lastName.$dirty ? 'has-error' : '', userform.lastName.$valid && userform.lastName.$dirty ? 'has-success' : '' ]" ng-model="user.userData.lastName" required pattern='^[A-Z][A-Za-z]+'>
				<p ng-show="userform.lastName.$invalid && userform.lastName.$dirty" class="help-block alert alert-info">Enter a valid name using only letters and proper capitalization.</p>
				<span ng-show="userform.lastName.$invalid && userform.lastName.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span ng-show="userform.lastName.$valid && userform.lastName.$dirty" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		
		<div class="form-group has-feedback" ng-class="[ userform.username.$invalid && userform.username.$dirty ? 'has-error' : '', userform.username.$valid && userform.username.$dirty ? 'has-success' : '' ]">
			<label class="col-sm-2 control-label">Username</label>
			<div class="col-sm-6">
				<input type="text" name='username' class="form-control" ng-class="[ userform.username.$invalid && userform.username.$dirty ? 'has-error' : '', userform.username.$valid && userform.username.$dirty ? 'has-success' : '' ]" ng-model="user.userData.username" required pattern='^[A-Za-z][A-Za-z0-9]+'>
				<p ng-show="userform.username.$invalid && userform.username.$dirty" class="help-block alert alert-info">Enter a valid username that begins with a letter and contains only letters and numbers.</p>
				<span ng-show="userform.username.$invalid && userform.username.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span ng-show="userform.username.$valid && userform.username.$dirty" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		
		<div class="form-group has-feedback" ng-class="[ userform.email.$invalid && userform.email.$dirty ? 'has-error' : '', userform.email.$valid && userform.email.$dirty ? 'has-success' : '' ]">
			<label class="col-sm-2 control-label">Email</label>
			<div class="col-sm-6">
				<input type="email" name='email' class="form-control" ng-model="user.userData.email" required pattern='^[A-Za-z][A-Za-z0-9]+@[A-Za-z0-9]+\.[A-Za-z]{2,4}'>
				<p ng-show="userform.email.$invalid && userform.email.$dirty" class="help-block alert alert-info">Please enter a valid email address.</p>
				<span ng-show="userform.email.$invalid && userform.email.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span ng-show="userform.email.$valid && userform.email.$dirty" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>

		<div class="form-group has-feedback" ng-class="[ userform.password.$invalid && userform.password.$dirty ? 'has-error' : '', userform.password.$valid && userform.password.$dirty ? 'has-success' : '' ]">
			<label class="col-sm-2 control-label">Password</label>
			<div class="col-sm-6">
				<input type="password" name='password' class="form-control" ng-model="user.userData.password" ng-minlength="6">
				<p ng-show="userform.password.$error.minlength && userform.password.$dirty" class="help-block alert alert-info">Please enter a password that is at least six characters long.</p>
				<span ng-show="userform.password.$invalid && userform.password.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span ng-show="userform.password.$valid && userform.password.$dirty" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		
		<div class="form-group has-feedback" ng-class="[ userform.confirmPass.$invalid && userform.confirmPass.$dirty ? 'has-error' : '', userform.confirmPass.$valid && userform.confirmPass.$dirty ? 'has-success' : '' ]" ng-if="userform.password.$valid && userform.password.$dirty">
			<label class="col-sm-2 control-label">Confirm Password</label>
			<div class="col-sm-6">
				<input type="password" name='confirmPass' class="form-control" ng-model="user.userData.confirmPass" ng-minlength="6">
				<p ng-show="userform.confirmPass.$error.minlength && userform.password.$dirty" class="help-block alert alert-info">Please enter a password that is at least six characters long.</p>
				<span ng-show="userform.confirmPass.$invalid && userform.password.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span ng-show="userform.confirmPass.$valid && userform.password.$dirty && (user.userData.password === user.userData.confirmPass)" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
				<span ng-show="user.userData.password !== user.userData.confirmPass" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				<span ng-show="user.userData.password !== user.userData.confirmPass" class="help-block alert alert-info">The passwords do not match.</span>
			</div>
		</div>
		
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled='userform.$invalid || (user.userData.password !== user.userData.confirmPass)'>Update Profile</button>
		</div>
		</div>

	</form>
</div>
